* {
    margin: 0 auto;
    max-width: 1600px;
    font-family: 'Work Sans', sans-serif;

}

/* Header Section */

.header {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.banner {
    width: 1600px;
    height: 808px;
}

.btn-primary {
    color: #FFFFFF;
    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    border: 0;

}

.banner-contant {
    text-align: right;
    padding-top: 216px;
    padding-right: 230px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    padding-left: 845px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 32px;
    padding-left: 876px;
}

/* About Section Styles */

.about {
    display: flex;
    gap: 87px;
    margin-bottom: 130px;
}

.img-option {
    margin-top: 131px;
    padding-left: 206px;
    width: 569px;
    height: 723.3px;
}

.about-contant {
    margin-top: 370px;
    padding-right: 322px;
}

.about-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

.about-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.note .note-item {
    margin: 8px 0;
}

/* My Plan Section Styles */

.p-section {
    text-align: center;
    width: 1141px;
    height: 299.96px;
    margin-bottom: 130px;
}

.p-section .plan {
    display: flex;
    gap: 86px;
}

.plan .item-title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 24px;
    margin-bottom: 16px;

}

.plan .item-des {
    font-weight: 500;
    font-size: 25px;
}

/* Call to Action Styles */

.cta-sention {
    width: 1140px;
    height: 300px;
    background-size: cover;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/watch.png');
    margin-bottom: 130px;
    border-radius: 8px;
}

.cta-item {
    padding: 59px 617px 59px 64px;
    width: 459px;
    height: 182px;
}

.cta-sention .btn-primary {
    background-color: white;
    color: #F15B22;
    margin-top: 45px;
}

/* Footer Section Styles */

.contact {
    width: 1400px;
    height: 577px;
    background: #151414;
    display: flex;
    gap: 331px;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

.future {
    width: 485px;
    height: 317px;
    margin-top: 130px;
    margin-left: 230px;

}

.subscribe {
    width: 325px;
    height: 204px;
    margin-top: 130px;
    margin-right: 229px;


}

.future h2 {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.future p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin: 24px 0;
}

.subscribe .btn-primary {
    background-color: white;
    color: #F15B22;
    margin-top: 45px;

}

.subscribe input {
    border: 1px solid white;
    width: 325px;
    height: 64px;
    background: #151414;
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
    padding-left: 21px;
    border-radius: 5px;
}

.copyright {
    text-align: center;
    margin-bottom: 20px;
}